.lose-weight-column span,
.gain-weight-column span {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 62px;
}

.lose-weight-column p,
.gain-weight-column p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-top: 39px;
    padding-bottom: 27px;
    width: 467px;
}

.lose-weight-column h3,
.gain-weight-column h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}

.catalog {
    display: flex;
    margin-top: 80px;
    padding-left: 100px;
    padding-right: 110px;
}

.lose-weight-column,
.gain-weight-column {
    background: #F2F2F2;
    padding: 42px 50px;
    width: 570px;
}

.lose-weight-column {
    margin-right: 80px;
}

.lose-weight-column h3::after,
.gain-weight-column h3::after {
    content: "";
    width: 12px;
    height: 12px;
    border: solid #050505;
    border-width: 1px 0 0px 1px;
    transform: translate(120%, 65%) rotate(135deg);
    position: absolute;
    cursor: pointer;
}



/* tablet window*/

@media screen and (max-width: 1399px) and (min-width: 768px) {
    .catalog {
        padding-top: 250px;
        flex-wrap: wrap;
        padding-right: 0;
        padding-left: 0;
        justify-content: center;
    }

    .lose-weight-column {
        margin-right: 0;
        position: relative;
        padding: 73px 53px;
        width: 602px;
    }

    .gain-weight-column {
        margin-top: 30px;
        position: relative;
        padding: 73px 53px;
        width: 602px;
    }

    .lose-weight-cat-img {
        position: absolute;
        top: 52px;
        right: 35px;
        width: 200px;
        height: 200px;
    }

    .lose-weight-column span,
    .gain-weight-column span {
        margin-left: 0px;
    }

    .lose-weight-column p,
    .gain-weight-column p {
        width: 377px;
    }

    .tiger-green {
        position: absolute;
        top: 70px;
        right: 20px;
        width: 259px;
        height: 197px;
    }
}


/* mobile */

@media screen and (max-width: 767px) and (min-width: 375px) {
    .catalog {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 22px;
        padding-left: 0;
        padding-right: 0;
    }

    .lose-weight-column,
    .gain-weight-column {
        width: 280px;
        margin-bottom: 20px;
        margin-right: 0;
        padding: 21px 20px 18px 19px;
    }

    .lose-weight-column p,
    .gain-weight-column p {
        width: 227px;
    }

    .lose-weight-column span,
    .gain-weight-column span {
        margin: 0;
        font-size: 24px;
        line-height: 37px;
    }

    .lose-weight-column span img {
        width: 50px;
        height: 53px;
        padding-right: 19px;
    }

    .gain-weight-column span img {
        width: 67px;
        height: 50px;
        padding-right: 19px;
    }

    .lose-weight-column p,
    .gain-weight-column p {
        font-size: 14px;
        line-height: 18px;
        padding-top: 22px;
        padding-bottom: 30px;
    }
}