.example {
    margin-top: 126px;
    background: #F2F2F2;
    padding-bottom: 100px;
    display: flex;
    padding-left: 100px;
    position: relative;
}

.example-title h1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
}

.example-title-description p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    padding: 70px 0 69px;
    width: 436px;
}

.example-title-description {
    margin-top: 76px;
}

.result {
    display: flex;
    justify-content: flex-start;
}

.slider-wrapper {
    padding: 0;
}

.slider-wrapper input {
    width: 428px;
    height: 6px;
    background: #DCDCDC;
    z-index: 10;
}

.result-border {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    padding: 15px 57px;
    text-transform: uppercase;

}

.result-border-description-left {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #929292;
    background: #F2F2F2;
    position: absolute;
    top: 55px;
    left: 35px;
    width: 114px;
}

.result-border-description-right {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #929292;
    background: #F2F2F2;
    position: absolute;
    top: 55px;
    left: 90px;
    width: 142px;
}

.result-right-column {
    padding-left: 42px;
    position: relative;
}

.result-left-column {
    position: relative;
}

.cost-wrapper {
    display: flex;
    justify-content: flex-start;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-top: 60px;
}

.cost {
    padding-left: 90px;
}

.slider-cats {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    flex: 1;
    justify-content: end;
    align-items: center;
}

.cat-before {
    position: absolute;
    background: url(../img/after.png) 100% 100% no-repeat;
    background-size: auto;
    transform: scale(-1, 1);

    height: 100%;
}

.cat-after {
    position: absolute;
    background: url(../img/before.png) 100% -50% no-repeat;
    background-size: auto;
    height: 100%;
}

.cat-wrap {
    position: relative;
    width: 365px;
    height: 536px;
}

.example-title {
    margin-top: 130px;
}

.example-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.slider-left,
.slider-right {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    position: absolute;
}

.slider-left {
    top: 532px;
    left: 59px;
}

.slider-right {
    top: 532px;
    right: 52px;
}

/* tablet window*/

@media screen and (max-width: 1399px) and (min-width: 768px) {
    .example-title {
        margin-top: 0;
    }

    .example {
        background-color: #ffffff;
        padding-left: 30px;
        margin: 0;
        flex-wrap: wrap;
    }

    .example-title-description {
        margin: 0;
    }

    .example-title-description p {
        width: 708px;
    }

    .result-border-description-left,
    .result-border-description-right {
        background-color: #ffffff;
    }

    .result-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .cost-wrapper {
        padding-top: 0;
        display: block;
    }

    .slider-left {
        left: 96px;
    }

    .slider-right {
        right: 91px;
    }
}



/* mobile */

@media screen and (max-width: 767px) and (min-width: 375px) {
    .example-title {
        margin-top: 69px;
    }

    .example-title h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .example {
        margin-top: 33px;
        padding-left: 0;
        flex-wrap: wrap;
    }

    .example-title-description p {
        font-size: 14px;
        line-height: 18px;
        margin: auto;
        padding: 33px 0 25px;
        width: 279px;
    }

    .example-title-description {
        margin: 0;
    }

    .result {
        justify-content: center;
    }

    .result-border {
        font-size: 24px;
        line-height: 24px;
    }

    .result-border-description-left {
        top: 43px;
        left: 28px;
    }

    .result-border-description-right {
        top: 43px;
        left: 75px;
    }

    .cost {
        padding-left: 5px;
    }

    .cost-wrapper {
        justify-content: center;
    }


    .slider-wrapper input {
        width: 100%;
    }

    .cat-wrap {
        width: 311px;
    }
}