.example {
    margin-top: 126px;
}

.example-title h1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
}

.example-title-description p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    padding-top: 70px;
    width: 436px;
    margin-bottom: 69px;
}

.example-title-description {
    margin-top: 76px;
    background: #F2F2F2;
}

.result-left-column,
.result-right-column p {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}

.result {
    display: flex;
}

.example-title {
    margin-left: 100px;
}