footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: #F2F2F2;
    padding: 57px 110px;
}

.footer-social img {
    padding-right: 20px;
}


/* tablet window*/

@media screen and (max-width: 1399px) and (min-width: 768px) {
    footer {
        padding: 55px 0;
    }
}



/* mobile */

@media screen and (max-width: 767px) {

    footer {
        flex-direction: column;
        padding: 39px 20px;
    }

    .footer-logo {
        text-align: center;
        margin-bottom: 50px;
    }
    
    .footer-social {
        text-align: center;
        margin-bottom: 43px;
    }

    .footer-logo-academy {
        text-align: center;
    }

}