footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: #F2F2F2;
    padding: 57px 110px;
}

.footer-social img {
    padding-right: 20px;
}


/* tablet window*/

@media screen and (max-width: 1399px) and (min-width: 768px) {
    .footer {
        padding: 55px 0;
    }
}