.links a {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
}

.links a:not(:last-child) {
    margin-right: 35px;
}

.energy-header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.energy-header {
    position: absolute;
    z-index: 30;
    left: 0;
    max-width: 1440px;
    top: 0;
    right: 0;
    margin: auto;
    padding: 53px 110px;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.links-wrapp {
    display: flex;
    flex: 1;
    justify-content: center;
}

.hamburger-menu,
.logo-mobile {
    display: none;
}


/* tablet window*/

@media screen and (max-width: 1399px) and (min-width: 768px) {

    .hamburger-menu,
    .logo-mobile {
        display: none;
    }

    .links-wrapp a {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        color: #000000;
        white-space: nowrap;
    }

    .energy-header {
        max-width: 768px;
        margin: 0 auto;
        padding: 24px 30px;
    }

    .logo {
        flex: none !important;
    }

    .logo img {
        width: 174px;
    }

}



/* mobile */

@media screen and (max-width: 767px) {

    .links-wrapp {
        display: none;
    }

    .logo img {
        display: none;
    }

    .hamburger-menu,
    .logo-mobile {
        display: block;
    }

    .energy-header {
        position: initial;
        padding: 11px 0px;
    }

    .energy-header-flex {
        display: block;
        width: 100%;
    }

    .logo-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .hamburger-menu {
        height: 20px;
        width: 32px;
        border-top: 2px solid black;
        border-bottom: solid 2px black;
        position: relative;
    }

    .hamburger-menu::after {
        content: ' ';
        width: 100%;
        position: absolute;
        height: 2px;
        background: black;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}