.links a {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.links a:not(:last-child) {
    margin-right: 35px;
}

.energy-header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.energy-header {
    position: absolute;
    z-index: 30;
    left: 0;
    width: 1440px;
    top: 0;
    right: 0;
    margin: auto;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.links-wrapp {
    display: flex;
    flex: 1;
    justify-content: center;
}