.how-it-works-title h1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-top: 71px;
    margin-bottom: 71px;
}

.first-column p,
.second-column p,
.third-column p,
.fourth-column p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    padding-top: 31px;
}

.number-one,
.number-two,
.number-three,
.number-four {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    color: #F2F2F2;
}

.how-it-works-columns {
    display: flex;
    justify-content: space-around;
}

.first-column,
.second-column,
.third-column,
.fourth-column {
    width: 230px;
    position: relative;
}

.number-one {
    position: absolute;
    top: -37px;
    right: 0;
    z-index: -1;
}

.number-two {
    position: absolute;
    top: -37px;
    right: 0;
    z-index: -1;
}

.number-three {
    position: absolute;
    top: -37px;
    right: 0;
    z-index: -1;
}

.number-four {
    position: absolute;
    top: -37px;
    z-index: -1;
    right: 0;
}

.how-it-works {
    margin-left: 100px;
}



/* tablet window*/

@media screen and (max-width: 1399px) and (min-width: 768px) {
    .how-it-works-columns {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .first-column,
    .second-column,
    .third-column,
    .fourth-column {
        padding-bottom: 134px;
    }

    .first-column,
    .third-column {
        margin-right: 154px;
    }

    .how-it-works {
        margin-left: 30px;
    }
}




/* mobile */

@media screen and (max-width: 767px) {

    .number-one,
    .number-two,
    .number-three,
    .number-four {
        display: none;
    }

    .how-it-works {
        margin-left: 30px;
        margin-right: 30px;
    }

    .how-it-works-columns {
        flex-direction: column;
        align-items: center;
    }

    .first-column,
    .second-column,
    .third-column,
    .fourth-column {
        display: flex;
        width: auto;
        padding-bottom: 20px;
    }

    .first-column img,
    .second-column img,
    .third-column img,
    .fourth-column img {
        width: 60px;
        height: 60px;
    }

    .first-column p,
    .second-column p,
    .third-column p,
    .fourth-column p {
        padding-top: 0;
        font-size: 14px;
        line-height: 18px;
        width: 100%;
        padding-left: 20px;
    }

    .how-it-works-title h1 {
        margin-top: 27px;
        margin-bottom: 40px;
        font-size: 36px;
        line-height: 40px;
    }
}